@import url("https://use.typekit.net/hkm0fuu.css");

* {
  font-family: "myriad-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* POCETNA */
body {
  width: 100%;
  margin: 0;
  padding: 0;

  background: #067fba;
}

#pocetna {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-index {
  position: relative;
  width: 750px;
  height: auto;
  margin: 20px;
}

/* ДОБРОДОШЛИ! */
.dobrodosli {
  position: relative;
  margin: 20px;
  font-size: 100px;
  text-transform: uppercase;

  color: #ffffff;
}

.group1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn-cont {
  box-sizing: border-box;

  /* position: absolute; */
  width: 300px;
  height: 300px;
  /* left: 339px;
  top: 374px; */
  margin: 50px;

  background: #1c639a;
  border: 5px solid #ffffff;

  font-size: 31px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

button {
  cursor: pointer;
}

.sponzori {
  display: none;
}

.logo {
  display: none;
}

/* ****************************  M E D I A    S C R E E N  **************************** */
/* ************************************************************************************ */

@media screen and (max-width: 1300px) {
  .dobrodosli {
    position: relative;
    margin: 20px;
    font-size: 80px;
  }
}

/* ************************************************************************************ */

@media screen and (max-width: 900px) {
  * {
    font-weight: 600;
  }

  /* POCETNA */
  #pocetna {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* LOGO */
  .logo-index {
    display: none;
  }

  .logo {
    display: flex;
    position: relative;
    /* left: 0; */
    width: 100%;
    max-width: 400px;
    height: auto;
    /* margin: 10px; */
  }

  .div-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
    margin-bottom: 20px;
  }

  /* ДОБРОДОШЛИ! */
  .dobrodosli {
    margin: 10px;
    font-size: 45px;
  }

  .group1 {
    justify-content: center;
    margin-top: 20px;
  }

  .btn-cont {
    width: 175px;
    height: 175px;
    margin: 5px;

    border: 3px solid #ffffff;

    font-size: 20px;
    line-height: 20px;
  }

  button {
    cursor: pointer;
  }

  .sponzori {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin: 20px;
    background-color: grey;
    border: 3px solid #000000;
  }
}

@media screen and (max-width: 400px) {
  .dobrodosli {
    font-size: 30px;
  }

  .btn-cont {
    width: 140px;
    height: 140px;
    margin: 5px;

    border: 3px solid #ffffff;

    font-size: 15px;
    line-height: 20px;
  }
}
